## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('about')}">About</a></li>
          <li><a href="${reverse('about')}#careers">Careers</a></li>
          <li><a href="${reverse('about')}#contact">Contact</a></li>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://iMediaZA.com">iMedia Technologies</a>.</span>
    </div>

    <div class="copyright">
        <p><span>
            ${_('Copyright {year}. All rights reserved. UIACT and the UIACT emblem are trademarks of Ubuntu International Academy, a member company of the Ubuntu Investment Group (PTY) LTD.').format(
                year=date.today().year
            )}
        </span>
        <span><a href="http://UbuntuZA.com">www.UbuntuZA.com</span></p>
    </div>
  </footer>
</div>
